packages/*

*.nupkg
.fake
.idea
output
.vs

build
output
_TeamCity.*
_ReSharper.*
*.csproj.user
*.resharper.user
*.ReSharper.user
*.TeamCity.user
*.DotSettings.user
*.resharper
*.suo
*.swp
*.cache
*.log
*.DS_Store
*.Report.html
*.Report.xml
*.Test.html
~$*
obj/
Obj/
bin/
Bin/
